.sample-pad {
    display: inline-block;
    width: 15%;
    background-image: url('./brushed-aluminium.jpg');
    border-radius: 10px;
    font-size: 14px;
    padding: 14px 0;
    color: whitesmoke;
}

.sample-pad:active {
    transform: scale(.98);
}