.play-button {
  position: relative;
  background-color: #f0d53ae0;
  box-shadow: 0 0 4px 2px #000000aa;
  border-radius: .25rem;
  text-align: center;
}

.play-button::after {
  content: '';
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  background-color: black;
  height: 100%;
  width: 100%;
  z-index: -1;
  border-radius: .3rem;
}

.play-button.active {
  background-color: #f0d43a;
}

.play-button i {
  padding: 10px 15px 10px 17px;
  font-size: 4rem;
  color: black;
}

.play-button img {
  height: 4.5rem;
  width: 4.5rem;
}