:root {
    --first-quarter:  #323643;
    --second-quarter: #606470;
    --third-quarter:  #233142;
    --fourth-quarter: #407088; 
    --active: #f0d43a;  
    --playing: #c50d66;
}

.beat-pad {
    display: inline-block;
    height: 50px;
    width: 5.5%;
    border-radius: 10%;
    background-color: var(--fourth-quarter);
}

.beat-pad.btn.active {
    background-color: var(--active);
}

.beat-pad.btn.active.playing {
    background-color: var(--playing);
}

/* beat 1 */
.beat-pad:nth-child(-n+4) {
    background-color: var(--first-quarter);
}

/* beat 2 */
.beat-pad:nth-child(5) {
    background-color: var(--second-quarter);
}
.beat-pad:nth-child(6) {
    background-color: var(--second-quarter);
}
.beat-pad:nth-child(7) {
    background-color: var(--second-quarter);
}
.beat-pad:nth-child(8) {
    background-color: var(--second-quarter);
}

/* beat 3 */
.beat-pad:nth-child(9) {
    background-color: var(--third-quarter);
}
.beat-pad:nth-child(10) {
    background-color: var(--third-quarter);
}
.beat-pad:nth-child(11) {
    background-color: var(--third-quarter);
}
.beat-pad:nth-child(12) {
    background-color: var(--third-quarter);
}


/* beat 4 */
.beat-pad:nth-last-child(-n+4) {
    background-color: var(--fourth-quarter);
}


