.indicator-panel {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}

.indicators {
	padding: 0 20px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
}

.beat-indicator:nth-child(1) {
	height: 16px;
	width: 16px;
}
.beat-indicator:nth-child(4n + 5) {
	height: 16px;
	width: 16px;
}

.beat-indicator {
	height: 12px;
	width: 12px;
	background-color: black;
	border-radius: 50%;
	display: inline-block;
}

.active {
	background-color: red;
}

@media screen and (max-width: 450px) {
	.indicators {
		margin-top: 20px 0;
		padding: 0 3px;
	}
	.beat-indicator:nth-child(1) {
		height: 14px;
		width: 14px;
	}
	.beat-indicator:nth-child(4n + 5) {
		height: 14px;
		width: 14px;
	}
	.beat-indicator {
		height: 10px;
		width: 10px;
		background-color: black;
		border-radius: 50%;
		display: inline-block;
	}
}
