.filter {
  width: 25%;
  min-width: 220px;
  background-color: black;
  padding: 5px;
  border-radius: 8px;
}

.filter-content {
  overflow: hidden;
  height: 95px;
  min-height: 95px;
  transition: .25s ease-out;
}

.display-option {
  cursor: pointer;
  text-transform: uppercase;
  float: right;
  display: none;
}

.hide {
  height: 0px;
}

.filter h4 {
  text-align: center;
  color: yellowgreen;
  text-transform: uppercase;
  font-size: .9rem;
  margin-bottom: 4px;
}

h4 span.collapse {
  text-transform: uppercase;
  float: right;
}

h4 span.collapse:hover {
  cursor: pointer;
}

.filter-selection {
  display: flex;
  padding: 0 5px;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 4px;
}

.filter-type {
  color: rgba(153, 205, 50, 0.7);
  font-size: .9rem;
  background: black;
}

.filter-type:hover {
  color: rgba(153, 205, 50, .85);
}

.filter-inputs {
  text-align: center;
  font-size: .8rem;
}

.filter-inputs .rs-range {
  width: 100%;
}

.filter-type.active {
  color: yellowgreen;
}

.filter-inputs label {
  font-size: .7rem;
  padding: 4px;
  border-radius: 5px;
  color: yellowgreen;
}

.filter h4 span.collapse {
  display: inline-block;
  margin-left: auto;
}

.filter-inputs input {
  margin-bottom: 10px;
}

@media screen and (max-width: 700px ) {
  .filter {
    margin-top: 10px;
    width: 100%;
  }
  .filter-selection {
    justify-content: space-around;
  }
  .filter-content {
    min-height: 0;
  }
  .display-option {
    display: inline;
  }
}