#kits {
	background-color: black;
	color: yellowgreen;
	font-size: inherit;
	font-family: inherit;
	letter-spacing: inherit;
	text-transform: uppercase;
	border: none;
}

.presets-menu {
	background-color: black;
	padding: 5px;
	border-radius: 5px;
}
