.sample-row-pads {
    background-color: black;
    font-size: inherit;
    display: flex;
    justify-content: space-between;
    height: 60px;
    border-radius: 10px;
    padding: 5px;
    /* margin-bottom: 10px; */
}

.quarter {
    display: flex;
    justify-content: space-between;
}

.sample-row {
    margin: 30px 0;
}


