.sample-row-pads {
    width: 100%;
    font-size: inherit;
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
}

.quarter {
    display: flex;
    justify-content: space-between;
}

.sample-row {
    background-color: black;
    border-radius: 10px;
    margin-top: 20px;
}

.sample-row h4 {
    margin: 0;
    color: aliceblue;
    text-align: right;
}

@media screen and (max-width: 450px) {

    .sample-inputs-container h4 {
        width: 100%;
        text-align: center;
    }

    .sample-inputs-content {
        width: 100%;
    }

    .sample-row-pads {
        padding: 5px 2px;
    }
}
