.sample-row-pads {
    background-color: black;
    font-size: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 0 5px;
    margin-bottom: 10px;
}

.quarter {
    display: flex;
    justify-content: space-between;
}

.sample-row-title {
    display: flex;
    justify-content: center;
    padding-left: 20px;
    /* margin-bottom: 5px; */
}

.sample-row-container h4 {
    display: inline-block;
    margin: 0;
    min-width: 00px;
    text-align: left;
    color: whitesmoke;
    /* background-color: black; */
}

.sample-row-container {
    margin: 20px 0;
}