.sample-pad {
    display: inline-block;
    width: 15%;
    background-image: url('../images/brushed-aluminium.jpg');
    border-radius: 10px;
    /* font-size: 14px; */
    padding: 5px;
    color: whitesmoke;
}

.sample-pad:active {
    transform: scale(.98);
}

.sample-pad h5 {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sample-pad label {
    display: block;
    font-size: 12px;
}

input[type="range"] {
    width: 90%;
}

