.container {
	width: 100%;
	margin: 0;
	padding-top: 180px;
	padding-bottom: 40px;
	background-repeat: no-repeat;
	background-size: cover;
}

@media screen and (max-width: 500px) {
	.container {
		padding-top: 90px;
	}
}
