.container {
    width: 100%;
    padding: 10px 10px;
    border-radius: 5px;
    background-image: url('../images/brushed-aluminium0.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width: 500px) {
    body {
        background-image: url('../images/rotate-device.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-color: white;
    }
    .container {
        display: none;
    }
}

