.beat-indicator {
    height: 15px;
    width: 15px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
}

.indicator-panel {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.buffer {
    display: inline-block;
    width: 16%;
}

.indicators {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 84%;
    margin-top: 10px;
}
